services:
  postgres:
    image: postgres:alpine
    hostname: postgres
    restart: always
    ports:
      - "5432:5432"
    networks:
      - api-network
    environment:
      POSTGRES_DB: arenas
      POSTGRES_USER: arenas
      POSTGRES_PASSWORD: arenas_pass
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U arenas_user -d arenas" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 15s
    mem_limit: 512m
    cpus: 0.5

volumes:
  postgres_data:

networks:
  api-network:
    driver: bridge